{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<!-- Showcase -->
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Our Properties</h1>
          <p class="lead">We make it easy to find your perfect fit with over a million available rentals.Fully Furnished & Semi Furnished Independent House for rent in Mohali: Search listings on Fully Furnished houses, Flats and Kothi available for rent across Mohali</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if dests %}
            {% for dest in dests %}
                     <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                  <img class="card-img-top" src="{{dest.photo_main.url}}" alt="">
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">Rs{{dest.price |intcomma}}</span>
                    </h2>
                  </div>
                  <div class="card-body">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{dest.title}}</h4>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i> {{dest.city}} {{dest.state}}, {{dest.zipcode}}</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-th-large"></i> Carpet Area: {{dest.CarpetArea}}Sqft</div>
                      <div class="col-6">
                        <i class="fas fa-car"></i> Parking: {{dest.Parking}}</div>
                    </div>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-bed"></i> Bedrooms: {{dest.bedrooms}}</div>
                      <div class="col-6">
                        <i class="fas fa-bath"></i> Bathrooms: {{dest.bathrooms}}</div>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-6">
                        <i class="fas fa-user"></i> {{dest.realtor}}</div>
                    </div>
                    <div class="row text-secondary pb-2">
                      <div class="col-6">
                        <i class="fas fa-clock"></i> {{dest.list_date | timesince}}</div>
                    </div>
                    <hr>
                    <a href="{% url 'listin' dest.id %}" class="btn btn-primary btn-block">More Info</a>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% else %}
          <div class ="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>We are Property & Investment Consultant, involved in providing various property related services to our client. With years of experience in real estate industry, we help in providing reliable consultancy services to many commercial, industrial property across Chandigarh .</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Property management refers to the act of overseeing and managing real estate by third-party property management firms. </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Want to Sell your Property or Rent a House ? Please Contact Us</p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}